<div class="row">
    <h2>Add new game</h2>
    <game-edit [game]="gameForm" (gameAdded)="gameAdded($event)"></game-edit>
</div>

<div class="row">
    <div class="games">
        <div *ngFor="let game of games;" class="row admin-game-row">
            <div class="col-md-1">
                <img src="{{game.picture}}" />
            </div>
            <div class="col-md-7">
                <a (click)="onSelect(game)">{{game.name}}</a>
            </div>
            <div class="col-md-4"><button class="btn btn-danger" (click)="remove(game._id);">Remove</button></div>
        </div>
    </div>
</div>
