<div class="row">
    <h2>Add new match</h2>
    <label for="type">Match between Teams or Players?</label>
    <select class="form-control" id="type" #teamSelector [(ngModel)]="type" name="type" (change)="typeChanged()">
        <option [value]="'teams'">
            Teams
        </option>
        <option [value]="'players'">
            Players
        </option>
    </select>
    <form (submit)="add(matchForm)">
        <div [hidden]="type == 'players'">
            <div class="form-group">
                <label for="team1">Select Team 1</label>
                <select class="form-control" id="team1" #teamSelector [(ngModel)]="matchForm.teams[0].team" name="team1">
                <option *ngFor="let g of teams" [value]="g._id">
                    {{g.name}}
                </option>
            </select>
            </div>
            <div class="form-group">
                <label for="teamscore1">Team 1 Score</label>
                <input type="number" id="teamscore1" name="teamscore1" [(ngModel)]="matchForm.teams[0].score" />
            </div>

            <div class="form-group">
                <label for="team2">Select Team 2</label>
                <select class="form-control" id="team2" #teamSelector [(ngModel)]="matchForm.teams[1].team" name="team2">
                <option *ngFor="let g of teams" [value]="g._id">
                    {{g.name}}
                </option>
            </select>
            </div>
            <div class="form-group">
                <label for="teamscore2">Team 2 Score</label>
                <input type="number" id="teamscore2" name="teamscore2" [(ngModel)]="matchForm.teams[1].score" />
            </div>
        </div>
        <div [hidden]="type == 'teams'">
            <div class="form-group">
                <label for="player1">Select Player 1</label>
                <select class="form-control" id="player1" #teamSelector [(ngModel)]="matchForm.players[0].player" name="player1">
                <option *ngFor="let g of players" [value]="g._id">
                    {{g.name}}
                </option>
            </select>
            </div>
            <div class="form-group">
                <label for="playerscore1">Player 1 Score</label>
                <input type="number" id="playerscore1" name="playerscore1" [(ngModel)]="matchForm.players[0].score" />
            </div>

            <div class="form-group">
                <label for="player2">Select Player 2</label>
                <select class="form-control" id="player2" #teamSelector [(ngModel)]="matchForm.players[1].player" name="player2">
                <option *ngFor="let g of players" [value]="g._id">
                    {{g.name}}
                </option>
            </select>
            </div>
            <div class="form-group">
                <label for="playerscore2">Player 2 Score</label>
                <input type="number" id="playerscore2" name="playerscore2" [(ngModel)]="matchForm.players[1].score" />
            </div>
        </div>

        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Add</button>
        </span>

    </form>
</div>

<div [hidden]="type == 'team'">
    <div *ngFor="let player of matchForm.players">{{player.player}} {{player.score}}</div>
</div>

<div [hidden]="type == 'player'">
    <div *ngFor="let team of matchForm.teams">{{team.team}} {{team.score}}</div>
</div>

<div class="row">
    <div class="matchs">
        <div *ngFor="let match of matches" class="row admin-match-row">
            <div *ngIf="match.teams">
                <div class="col-md-2">{{team(match, 0).team.name || ''}}</div>
                <div class="col-md-2">{{team(match, 0).score || 0 }}</div>
                <div class="col-md-2">{{team(match, 1).team.name || ''}}</div>
                <div class="col-md-2">{{team(match, 1).score || 0 }}</div>
            </div>
            <div *ngIf="match.players">
                <div class="col-md-2">{{player(match, 0).player.name || ''}}</div>
                <div class="col-md-2">{{player(match, 0).score || 0 }}</div>
                <div class="col-md-2">{{player(match, 1).player.name || ''}}</div>
                <div class="col-md-2">{{player(match, 1).score || 0 }}</div>
            </div>
            <div class="col-md-4"><button class="btn btn-danger" (click)="remove(match._id);">Remove</button></div>
        </div>
    </div>
</div>
